@model IEnumerable<SmartHome.Models.Household>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<div class="jumbotron text-center" style="background-color:transparent;height:70px">
    <h2 style="color:#006dcc;text-align:center; text-transform:uppercase"><b>DashBoard</b></h2>
</div>
<p>
    @Html.ActionLink("Create New", "Create", "Admin", null, new { @class = "btn btn-primary btn-large" })

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Street
            </th>
            <th>
                Postal Code
            </th>
            <th>
                Unit No.
            </th>
            <th>
                Surname
            </th>
            <th>
                Contact No.
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item._id }, new { @class = "btn btn-primary btn-large" })
                    @Html.ActionLink("Details", "Details", new { id = item._id }, new { @class = "btn btn-primary btn-large" })
                    @Html.ActionLink("Delete", "Delete", new { id = item._id }, new { @class = "btn btn-danger btn-large" })
                </td>
            </tr>
        }
    </tbody>
</table>
