@model SmartHome.Models.Household

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="jumbotron text-center" style="background-color:transparent;height:70px">
    <h2 style="color:#006dcc;text-align:center; text-transform:uppercase"><b>Delete Household Profile</b></h2>
    <h4 style="color:#990000;text-align:center; text-transform:uppercase">Are you sure you want to delete this?</h4>
</div>
<style>
    th, td {
        padding-top: 20px;
    }

    th {
        color: #006dcc;
        text-transform: uppercase;
    }

    button {
        text-transform: uppercase;
        text-align: center;
        color: white;
        border: none;
        width: 150px;
    }
</style>
<div class="container">
    @Html.ActionLink("Back", "Dashboard", "Admin", null, new { @class = "btn btn-primary btn-large" })
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">

            <table style="width:100%">
                <tr>
                    <th>Family Name</th>
                </tr>
                <tr>
                    <th>Street</th>
                </tr>
                <tr>
                    <th>Unit No</th>
                </tr>
                <tr>
                    <th>Postal Code</th>
                </tr>
                <tr>
                    <th>Contact No</th>
                <tr>
                    <th>Email</th>
                </tr>
                <tr>
                    <th>Password</th>
                </tr>
            </table>
            <form asp-action="Delete">
                <input asp-for="_id" name="_id"class="hidden form-control" />
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </div>
        <div class="col-sm-7">
            <table style="width:100%">
                <tr>
                    <td>@Html.DisplayFor(model => model.Surname)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Street)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.UnitNo)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.PostalCode)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.ContactNo)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Password)</td>
                </tr>
            </table>

        </div>
    </div>

</div>



