@model IEnumerable<SmartHome.Models.DeviceLog>

@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
}
    <h2>Device Log</h2>

    <p>
        <a href="@Url.Action("ExportToExcel")" class="btn btn-primary">Export</a>
        <a href="@Url.Action("..//DeviceLog//UploadToDB")" class="btn btn-primary">Import</a>
    </p>
    <div id="dvData">
        <table id="example" class="table table-striped table-bordered table-hover responsive">
            <thead class="thin-border-bottom">
                <tr>
                    <th>
                        Name
                        @*@Html.DisplayNameFor(model => model.Name)*@
                    </th>
                    <th>
                        Location
                        @*@Html.DisplayNameFor(model => model.Location)*@
                    </th>
                    <th>
                        Type
                        @*@Html.DisplayNameFor(model => model.Type)*@
                    </th>
                    <th>
                        State
                        @*@Html.DisplayNameFor(model => model.State)*@
                    </th>
                    <th>
                        KWh
                        @*@Html.DisplayNameFor(model => model.KWh)*@
                    </th>
                    <th>
                        DateTime
                        @*@Html.DisplayNameFor(model => model.DateTime)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            @*<tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.householdId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.state)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kWh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateTime)
                        </td>
                        <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                    </tr>
                }
            </tbody>*@
        </table>
    </div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        (function ($) {
            var generateCustomerTable = $("#example")
                .dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/apiController",
                        "method": "POST"
                    },
                    "columns": [
                        //{ "data": "HouseholdId" },
                        { "data": "Name" },
                        { "data": "Location" },
                        { "data": "Type" },
                        { "data": "State" },
                        { "data": "KWh" },
                        { "data": "DateTime"}
                    ],
                    "ordering": true,
                    "paging": true,
                    "pagingType": "full_numbers",
                    "pageLength": 10
                });
        })(jQuery);
    </script>
}