@model IEnumerable<SmartHome.Models.Device>

@{
    ViewData["Title"] = "All Devices";
}
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseholdID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageKwH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.favourite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseholdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsageKwH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.favourite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @Html.ActionLink("Create New Schedule", "Create", "Schedule", new { Id = item.Id, HouseholdID = item.HouseholdID, DeviceName = item.DeviceName, Brand = item.Brand, Model = item.Model, Type = item.Type, Location = item.Location, State = item.State, UsageKwH = item.UsageKwH, favourite = item.favourite, timestamp = item.timestamp}) |
                <!--<a asp-action="Create" asp-controller="Schedule" asp-route-id="@item.Id" asp-route-deviceName="@item.DeviceName">Create New Schedule</a>-->
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
