@model SmartHome.Models.Schedule

@{
    ViewData["Title"] = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Device ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device.Id)
        </dd>
        <dt>
            Device name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.device.DeviceName)
        </dd>
        <dt>
            Starting time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt>
            Ending Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>
        <dt>
            Schedule every week
        </dt>
        <dd>
            @Html.DisplayFor(model => model.applyToEveryWeek)
        </dd>
        <dt>
            Day
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dayOfWeek)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.scheduleId">Edit</a> 
    <a asp-action="Index">Back to List</a>
</div>
