@model SmartHome.Models.Schedule
<link href="~/css/scheduler.css" rel="Stylesheet" />

@{
    ViewData["Title"] = "Edit";
}

@{
    List<SelectListItem> FanSpeedItems = new List<SelectListItem>();
    FanSpeedItems.Add(new SelectListItem { Text = "1", Value = "1", Selected = false });
    FanSpeedItems.Add(new SelectListItem { Text = "2", Value = "2", Selected = false });
    FanSpeedItems.Add(new SelectListItem { Text = "3", Value = "3", Selected = false });
}

@{
    List<SelectListItem> AirconTemperatureItems = new List<SelectListItem>();
    AirconTemperatureItems.Add(new SelectListItem { Text = "18", Value = "18", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "19", Value = "19", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "20", Value = "20", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "21", Value = "21", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "22", Value = "22", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "23", Value = "23", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "24", Value = "24", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "25", Value = "25", Selected = false });
    AirconTemperatureItems.Add(new SelectListItem { Text = "26", Value = "26", Selected = false });
}

@{
    List<SelectListItem> LightBrightnessItems = new List<SelectListItem>();
    LightBrightnessItems.Add(new SelectListItem { Text = "10", Value = "10", Selected = false });
    LightBrightnessItems.Add(new SelectListItem { Text = "20", Value = "20", Selected = false });
    LightBrightnessItems.Add(new SelectListItem { Text = "30", Value = "30", Selected = false });
    LightBrightnessItems.Add(new SelectListItem { Text = "40", Value = "40", Selected = false });
    LightBrightnessItems.Add(new SelectListItem { Text = "50", Value = "50", Selected = false });
}

@{
    List<SelectListItem> TimeItems = new List<SelectListItem>();
    TimeItems.Add(new SelectListItem { Text = "00:00", Value = "00:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "01:00", Value = "01:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "02:00", Value = "02:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "03:00", Value = "03:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "04:00", Value = "04:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "05:00", Value = "05:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "06:00", Value = "06:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "07:00", Value = "07:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "08:00", Value = "08:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "09:00", Value = "09:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "10:00", Value = "10:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "11:00", Value = "11:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "12:00", Value = "12:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "13:00", Value = "13:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "14:00", Value = "14:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "15:00", Value = "15:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "16:00", Value = "16:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "17:00", Value = "17:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "18:00", Value = "18:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "19:00", Value = "19:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "20:00", Value = "20:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "21:00", Value = "21:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "22:00", Value = "22:00", Selected = false });
    TimeItems.Add(new SelectListItem { Text = "23:00", Value = "23:00", Selected = false });
}


<h2>Edit</h2>

<h4>@ViewBag.dName</h4>
<hr />
<div class="row">
    <div class="col-md-4" id="content">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduleId" />
            <div class="form-group">
                <label asp-for="deviceId" class="control-label">Device ID</label>
                <input asp-for="deviceId" class="form-control" value=@ViewBag.dID readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Device name</label>
                <input class="form-control" value=@ViewBag.dName readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Device Type</label>
                <input class="form-control" value=@ViewBag.dType readonly />
            </div>
            <div class="form-group">
                @if (@ViewBag.dType.Equals("Fan"))
                {
                    foreach (var item in FanSpeedItems)
                    {
                        if (@item.Value.Equals(@ViewBag.dStatusWhenOn))
                        {
                            item.Selected = true;
                        }
                    }

                    <label class="control-label">Fan Speed</label>
                    @Html.DropDownListFor(model => model.StatusWhenOn, FanSpeedItems, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartTime)
                }
                else if (@ViewBag.dType.Equals("Aircon"))
                {
                    foreach (var item in AirconTemperatureItems)
                    {
                        if (@item.Value.Equals(@ViewBag.dStatusWhenOn))
                        {
                            item.Selected = true;
                        }
                    }

                    <label class="control-label">Aircon Temperature</label>
                    @Html.DropDownListFor(model => model.StatusWhenOn, AirconTemperatureItems, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartTime)
                }
                else if (@ViewBag.dType.Equals("Light"))
                {
                    foreach (var item in LightBrightnessItems)
                    {
                        if (@item.Value.Equals(@ViewBag.dStatusWhenOn))
                        {
                            item.Selected = true;
                        }
                    }
                    
                    <label class="control-label">Light Brightness</label>
                    @Html.DropDownListFor(model => model.StatusWhenOn, LightBrightnessItems, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartTime)
                }

            </div>
            @*<div class="form-group">
                <label class="control-label">Start time</label>
                <input asp-for="startTime" class="form-control" />
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End time</label>
                <input asp-for="endTime" class="form-control" />
                <span asp-validation-for="endTime" class="text-danger"></span>
            </div>*@

            <div class="form-group">

                @{
                    foreach (var item in TimeItems)
                    {
                        if (@item.Value.Equals(ViewBag.dStartTime))
                        {
                            item.Selected = true;
                        }
                    }
                }

                <label asp-for="StartTime" class="control-label">Start time</label>
                @Html.DropDownListFor(model => model.StartTime, TimeItems, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>
            <div class="form-group">

                @{
                    foreach (var item in TimeItems)
                    {
                        if (@item.Value.Equals(ViewBag.dEndTime))
                        {
                            item.Selected = true;
                        }
                    }
                }

                <label asp-for="EndTime" class="control-label">End time</label>
                @Html.DropDownListFor(model => model.EndTime, TimeItems, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApplyToEveryWeek" /> Schedule every week
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Day</label>
                <input asp-for="DayOfWeek" class="form-control" />
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>