@model IEnumerable<SmartHome.Models.Schedule>

@{
    ViewData["Title"] = "All Schedules";
}
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.applyToEveryWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dayOfWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.applyToEveryWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dayOfWeek)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.scheduleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.scheduleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.scheduleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
