@model UsageStatistics.Models.EnergyUsage
@{
    ViewData["Title"] = "Energy Usage";
    Layout = "~/Views/Shared/_EnergyUsageLayout.cshtml";
}

<div id="page-wrapper-margin">
    <div class="row">
        <div class="col-md-4">
            <h2>Energy Usage</h2>
        </div>
        <div class="col-lg-12">
            <h3>Usage Statistics</h3>
            <p>Graph: @Model.GraphPower</p>
            <div class="btn-group btn-group-sm" id="tab_toggle" role="tablist" aria-label="...">
                <a class="btn btn-warning" asp-area="" asp-controller="EnergyUsage" asp-action="Index" asp-route-location=@Model.Location asp-route-name="@Model.Name" asp-route-timePeriod="daily">Daily</a>
                <a class="btn btn-warning" asp-area="" asp-controller="EnergyUsage" asp-action="Index" asp-route-location=@Model.Location asp-route-name="@Model.Name" asp-route-timePeriod="weekly">Weekly</a>
                <a class="btn btn-warning" asp-area="" asp-controller="EnergyUsage" asp-action="Index" asp-route-location=@Model.Location asp-route-name="@Model.Name" asp-route-timePeriod="monthly">Montly</a>
            </div>
            <div class="panel panel-default mt30 mb0">
                <div class="panel-heading">
                    <h3 class="panel-title">Devices Installed</h3>
                </div>
                <div class="panel-body text-center">
                    <div class="row" id="eu-dev-list">
                        @if (Model.DevicesInLocation.Count != 0)
                        {
                            @foreach (string deviceName in Model.DevicesInLocation)
                            {
                                <div class="col-xs-6 col-sm-4 col-lg-2">
                                    <!-- set default time period as daily -->
                                    @if (Model.Name.Equals(deviceName))
                                    {
                                        <a class="wrap-icon-href active" asp-controller="EnergyUsage" asp-action="Index" asp-route-location=@Model.Location asp-route-name="@deviceName" asp-route-timePeriod="@Model.TimePeriod">
                                            <div class="wrap-icon">
                                                <i class="far fa-lightbulb fa-3x"></i><br>
                                                <strong>@deviceName</strong>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="wrap-icon-href " asp-controller="EnergyUsage" asp-action="Index" asp-route-location=@Model.Location asp-route-name="@deviceName" asp-route-timePeriod="@Model.TimePeriod">
                                            <div class="wrap-icon">
                                                <i class="far fa-lightbulb fa-3x"></i><br>
                                                <strong>@deviceName</strong>
                                            </div>
                                        </a>

                                    }


                                </div>
                            }
                        }
                        else
                        {
                            <span>No device available in this area</span>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
    <!-- /.row -->

    <div id="device_1" class="panel panel-default mt30">
        <div class="panel-body">
            <div class="well well-lg well-info">
                <div class="row" id="eu-dev-info-basic"> 
                    <span>@Model.Name used @Model.EnergyUsed KwH</span>
                  
                    @if (Model.TimePeriod.Equals("daily"))
                    {
                        <span>today</span>
                    }
                    else if (Model.TimePeriod.Equals("weekly"))
                    {
                        <span>this week (MON-SUN)</span>
                    }
                    else
                    {
                        <span>in this month</span>
                    }
                   
                    <br /><span>Status is @Model.State</span>

                </div>

                <hr>
                <div class="row" id="eu-dev-info"></div>
            </div>
            <!-- end well -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Energy Usage</b>
                    <div class="pull-right">
                        <b>Today: 21/01/18 &nbsp;</b>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="daily">
                            <canvas id="daily_1" class="mb30"></canvas>
                            <canvas id="daily_2"></canvas>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="weekly">
                            <canvas id="weekly_1" class="mb30"></canvas>
                            <canvas id="weekly_2"></canvas>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="monthly">
                            <canvas id="monthly_1" class="mb30"></canvas>
                            <canvas id="monthly_2"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->

            </div>
        </div>


    </div>
</div>
