@model UsageStatistics.Models.EnergyAdvise

@{
    ViewData["Title"] = "Energy Advise";
    Layout = "~/Views/Shared/_HouseholdLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Energy Advisor</h3>
            <div class="panel panel-default mt30 mb0">
              <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Energy Consumption</h3>
                            <p> TESTING @Model.PreviousMonthConsumption </p>
                        </div>
                        <div class="col-sm-6">
                            <!-- Single button -->
                            <div class="btn-group btn-group-xs pull-right">
                              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Month <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", new { month = "1"})">Jan</a></li>
                                <li><a href="@Url.Action("Index", new { month = "2"})">Feb</a></li>
                                <li><a href="@Url.Action("Index", new { month = "3"})">March</a></li>
                                <li><a href="@Url.Action("Index", new { month = "4"})">April</a></li>
                                <li><a href="@Url.Action("Index", new { month = "5"})">May</a></li>
                                <li><a href="@Url.Action("Index", new { month = "6"})">Jun</a></li>
                                <li><a href="@Url.Action("Index", new { month = "7"})">July</a></li>
                                <li><a href="@Url.Action("Index", new { month = "8"})">Aug</a></li>
                                <li><a href="@Url.Action("Index", new { month = "9"})">Sept</a></li>
                                <li><a href="@Url.Action("Index", new { month = "10"})">Oct</a></li>
                                <li><a href="@Url.Action("Index", new { month = "11"})">Nov</a></li>
                                <li><a href="@Url.Action("Index", new { month = "12"})">Dec</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="panel-body">
                <canvas id="trend_1" class="mb30"></canvas>
              </div>
        </div>
    </div>
</div>